/* Portfolio */

main, h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}


.portfolio {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #FFFFEB;
}


.divider {
    width: 90%;
    margin: 60px 0 30px 0;
}

.divider-black {
    width: 100%;
    margin: 60px 0 30px 0;
    color: #FFFFEB;
    background-color: #000000;
}

.section-label {
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #FFFFEB;
    background-color: black;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    padding: 8px 20px;
    border-radius: 15px;
}

.section-label-white {
    color: black;
    background-color: #FFFFEB;
}


/* Header */

.portfolio-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    width: 80%;
}

.portfolio-header * {
    font-family: 'Mulish', sans-serif;
}

/* .portfolio-header-navbar {

} */

.portfolio-header-navbar-list {
    display: flex;
    padding: 0;
    list-style-type: none;
}

.portfolio-header-navbar-list-item {
    width: 115px;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.portfolio-header-navbar-list-item:hover {
    background-color: #000000;
    color: #EEEEDC;
}

.portfolio-header-navbar-list-item a {
    display: flex;
    align-items: center;
}

.portfolio-header-navbar-list-item p {
    margin-left: 5px;
}

.portfolio-header-section {
    display: flex;
    justify-content: space-around;
    width: 65%;
}

.portfolio-header-icon {
    width: 40px;
    height: 40px;
    pointer-events: none;
}

.portfolio-header-download_cv_button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: inherit;
    padding: 5px 10px;
    border-radius: 30px;
    border: 1px solid black;
}

.portfolio-header-download_cv_button:hover {
    cursor: pointer;
}

.portfolio-header-download_cv_button p {
    margin: 0 5px;
    font-size: 14px;
}


/* About Me */

.about_me {
    width: 80%;
    display: flex;
    flex-direction: row;
}

.about_me-profile {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bolder;
}

.about_me-profile-terminal_icon {
    width: 120px;
    pointer-events: none;
}

.about_me-profile-title {
    font-family: 'Rubik', sans-serif;
    font-size: 50px;
}

.about_me-profile figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about_me-profile_photo {
    width: 25em;
    margin: 15px 0;
    pointer-events: none;
}

.about_me-profile_photo-description {
    width: 50%;
    line-height: 30px;
    font-size: 25px;
    text-align: center;
    pointer-events: none;
}

.about_me-spotlight {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.about_me-spotlight-title {
    font-family: 'Roboto Mono', monospace;
    font-size: 64px;
    text-align: center;
}

.about_me-spotlight-motto {
    font-size: 30px;
    width: 50%;
    text-align: center;
}

.about_me-spotlight-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 40%;
}

.about_me-spotlight-links-bracket {
    font-family: 'Roboto Mono', monospace;
    font-size: 60px;
}

.about_me-spotlight-social_links {
    display: flex;
    width: 35%;
    align-items: center;
    justify-content: space-evenly;
}

.about_me-spotlight-social_link {
    /* display: flex;
    padding: 6px;
    border-radius: 100%;
    border: 2px solid black; */
}

.about_me-spotlight-links-angle_bracket {
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
}


.portfolio-section {
    width: 90%;
}


.portfolio-section-projects-container {
    width: 100%;
    margin: 60px 0;
    display: flex;
    flex-direction: column;
}

.project-style-mobile {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-style-desk {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolio-project-card {
    width: 20em;
    margin: 30px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.portfolio-project-card:hover {
    background-color: #EEEEDC;
    
}
.portfolio-project-card-desk {
    width: 30em;
    height: 20em;
    margin: 30px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.portfolio-project-card-desk:hover {
    background-color: #EEEEDC;
}

.portfolio-project-card-image-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0px;
}

.portfolio-project-card-image {
    min-width: 10em;
    max-width: 15em;
    border-radius: 10px;
    pointer-events: none;
}

.portfolio-project-card-image-desk {
    width: 18em;
    border-radius: 10px;
}

.portfolio-project-card-footer {
    width: 100%;
    min-height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
}



.portfolio-section-career {
    margin: 50px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.portfolio-section-career-image {
    pointer-events: none;
}

@media screen and (max-width: 1310px) {
    .portfolio-section-career-image {
        width: 90%;
    }
}
@media screen and (max-width: 950px) {
    .portfolio-section-career-image {
        width: 100%;
    }
}
@media screen and (max-width: 425px) {
    .portfolio-section-career-image {
        width: 80%;
    }
}


/* Skills section */

.skills-section {
    width: 90%;
}

.skill-figure-container {
    width: 120px;
    height: 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.skill-figure-caption {
    font-size: 25px;
    text-align: center;
}

.skills-container {
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 25px;
}

.skill-card-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.contact_me-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #000000;
}

.contact_me-elements-container {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.foo {
    margin: 100px 0;
}

.contact_me-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Roboto Mono', monospace;
    background: #000000;
}

.form-inputs-container {
    display: grid;
}

.form-text {
    font-family: 'Roboto Mono', monospace;
    padding: 2em;
    background-color: #000000;
    border: 0.5px solid #FFFFEB;
    color: #FFFFEB;
}

.form-text:focus {
    outline-color: goldenrod;
}

.contact_me-form-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.form-button-submit {
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 150px;
    height: 50px;
    font-family: 'Roboto Mono', monospace;
    background-color: #000000;
    border-radius: 15px;
    border: 1px solid #FFFFEB;
    color: #FFFFEB;
}

.footer-section {
    padding: 40px 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

.footer-section-elements-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 10px;
    border-radius: 5px 5px 0 0;
    background-color: #FFFFEB;
}

.footer-section-title {
    font-family: 'Rubik', sans-serif;
}

.form-captcha-message {
    font-family: 'Roboto Mono', monospace;
    margin-top: 5px;
    color: tomato;
}

.portfolio-footer-icon {

}

/* media queries */

@media screen and (min-width: 1025px) {
    .portfolio-header-navbar-list-item p {
        text-wrap: nowrap;
        font-size: smaller;
    }

    .about_me {
        width: 90%;
    }

    .about_me-profile-title {
        font-size: 45px;
    }

    .about_me-profile_photo {
        width: 20em;
    }

    .about_me-profile_photo-description {
        width: 65%;
        font-size: 20px;
    }

    .about_me-spotlight-title {
        font-size: 50px;
    }

    .about_me-spotlight-motto {
        width: 75%;
    }

    .about_me-spotlight-links {
        width: 60%;
    }
}

@media screen and (max-width: 1024px) {

    .portfolio-header-navbar-list-item p {
        text-wrap: nowrap;
        font-size: smaller;
    }

    .about_me {
        width: 90%;
    }

    .about_me-profile-title {
        font-size: 45px;
    }

    .about_me-profile_photo {
        width: 20em;
    }

    .about_me-profile_photo-description {
        width: 75%;
        font-size: 20px;
    }

    .about_me-spotlight-title {
        font-size: 50px;
    }

    .about_me-spotlight-motto {
        width: 75%;
    }

    .about_me-spotlight-links {
        width: 60%;
    }
}

@media screen and (max-width: 900px) {
    .about_me-spotlight-social_links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    .portfolio-header {
        flex-direction: column-reverse;
        padding-bottom: 10px;
    }

    .portfolio-header-icon {
        width: 30px;
        height: 30px;
    }

    .about_me-profile-terminal_icon {
        width: 100px;
    }

    .about_me-profile_photo {
        width: 15em;
    }

    .about_me-profile-title {
        font-size: 35px;
    }

    .about_me-profile_photo-description {
        font-size: 15px;
    }

    .about_me-spotlight-title {
        font-size: 40px;
    }

    .about_me-spotlight-motto {
        font-size: 20px;
    }

    .about_me-spotlight-links-bracket {
        font-size: 45px;
    }

    .about_me-spotlight-links {
        width: 65%;
    }

    .about_me-spotlight-social_links {
        width: 60%;
    }

    .project-style-mobile, .project-style-desk {
        flex-direction: column;
        align-items: center;
    }

    .contact_me-form {
        grid-template-columns: 1fr;
    }

    .footer-section {
        padding: 5px 0 0 0;
    }
}

@media screen and (max-width: 675px) {

    .portfolio-header {
        flex-direction: column;
    }

    .portfolio-header-download_cv_button p {
        text-wrap: nowrap;
        font-size: 10px;
    }

    .skills-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .form-text {
        padding: 3em;
    }
}

@media screen and (max-width: 615px) {
    .portfolio-section-projects-container {
        width: 80%;
        margin: 0 auto;
        align-items: center;
    }

    .portfolio-project-card-image {
        max-width: 10em;
    }

    .portfolio-project-card {
        margin: 25px 0px;
    }

    .portfolio-project-card-desk {
        margin: 15px 0px;
    }

    .foo {
        margin: 60px 0;
    }
}

@media screen and (max-width: 480px) {

    .portfolio-header {
        flex-direction: column-reverse;
        margin-bottom: 0px;
    }

    .portfolio-header-navbar {
        display: none;
    }

    .about_me {
        flex-direction: column;
        align-items: center;
        width: 95%;
    }

    .about_me-profile {
        width: 80%;
    }

    .about_me-profile_photo {
        width: 12em;
    }

    .about_me-profile_photo-description {
        width: 85%;
    }

    .about_me-spotlight {
        width: 95%;
        margin-top: 15px;
    }

    .about_me-spotlight-motto {
        margin: 10px 0;
    }

    .skills-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 425px) {
    .portfolio {
        width: 100%;
    }

    .portfolio-header-navbar-list-item {
        width: 80px;
    }

    .about_me-spotlight-social_links {
        margin: 10px 0;
    }

    .about_me-spotlight {
        flex-direction: column-reverse;
    }

    .portfolio-project-card-desk {
        width: 95%;
    }

    .portfolio-section-projects-container {
        width: 90%;
    }

    .project-style-mobile, .project-style-desk {
        width: 100%;
    }
}

@media screen and (max-width: 375px) {
    .about_me-spotlight-links {
        justify-content: space-around;
    }

    .portfolio-header-navbar-list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .portfolio-header-navbar-list-item {
        margin: 5px 20px;
    }

    .portfolio-project-card-image-desk {
        width: 15em;
    }
}

@media screen and (max-width: 320px) {
    .portfolio {
        width: 100%;
        align-items: center;
    }

    .about_me-profile-title {
        font-size: 30px;
    }

    .about_me-profile-terminal_icon {
        width: 50px;
    }

    .about_me-spotlight-title {
        font-size: 30px;
        margin: 10px 0;
    }

    .about_me-spotlight-motto {
        display: none;
    }

    .about_me-profile_photo-description {
        width: 95%;
    }

    .about_me-spotlight-links {
        width: 75%;
    }
    
    .about_me-spotlight-social_links {
        width: 75%;
    }

    .portfolio-project-card {
        width: 90%;
    }
}