.error-page-main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.error-page-main-container h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 100px;
    margin: 20px 0;
}

.error-page-main-container p {
    font-size: 30px;
}

.error-page-simple-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-page-dev-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-page-dev-section code {
    font-size: 20px;
}